name: CI

on:
  push:
    branches:
      - master
      - 'v*'
  pull_request: {}

env:
  PNPM_VERSION: 5.18.1

jobs:
  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          cache: pnpm

      - run: pnpm install
      - run: pnpm lint

  test:
    name: Node Tests
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [10.x, 12.x]

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          cache: pnpm

      - run: pnpm install
      - run: pnpm test -- --coverage

  ember-try-scenarios:
    name: Ember Tests

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          cache: pnpm

      - run: pnpm install
      - run: node_modules/.bin/ember try:each
