name: Release

on:
  push:
    tags:
      - '*'

env:
  PNPM_VERSION: 6.30.1

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: ${{ env.PNPM_VERSION }}

      - uses: actions/setup-node@v2
        with:
          node-version: 12.x
          cache: pnpm

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
